*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: azure;
    display: flex;
    flex-flow: column wrap;
    

    
}

#seccionUno{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
}


#gridSeccionDos{
    padding: 50px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "estudios habilidades";
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}





.imagenProyectos{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}


#seccionCuatro{
    font-family: 'Titillium Web', sans-serif;   
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 150px;

}



.infoProyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 50px;
    font-family: 'Titillium Web', sans-serif;
}



.presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 300%;
    padding: 30px;
}




.estudios{
    grid-area: estudios;
    display: flex;
    flex-direction: column;
}

.nombre{
    color: rgb(0, 121, 151);
    margin-right: 20px;
}


.imagenPresentacion{
    border-radius: 10px;
    width: 350px;
}

.parrafo{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


#arrow{
    color: black;
    font-size: 200%;
}


#arrow:hover{
    cursor: pointer;
}



#arrowVolver{
    color: rgb(90, 0, 0);
    font-size: 200%;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#arrowVolver:hover{
    cursor: pointer;
}


.habilidades{
    grid-area: habilidades;
    display: grid;
    grid-template-areas: ". . ."
                        ". . ."
                        ". . ."
                        ;
    flex-flow: row wrap;
}

.imagenLenguaje{
    height: 60px;
    margin: 10px;
}


.linkContacto{
    font-size: 300%;
    margin: 40px;
    text-decoration: none;
    color: rgb(0, 156, 161);
}


.linksContacto{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;

}


.proyecto{
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin-bottom: 10px;
    font-family: 'Titillium Web', sans-serif;
}

.ocultar{
    display: none;
}

.cv{
    text-decoration: none;
}



.titulos{
    font-size: 400%;
    font-family: 'Oswald', sans-serif;

}

.trabajo{
    margin: 30px;
}

.tituloHabilidades{
    display: none;
}

/* ADAPTACION A PANTALLAS */

@media (max-width: 767px){

    .iconImage{
        height: 50px;
    }

    #seccionUno{
        width: auto;
        height: auto;   
        margin: 0px !important;
        padding: 0px !important;
    }

    .presentacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: xx-large;
    }

    .titulos{
        font-size: larger;
    }

    #gridSeccionDos{
        padding: 20px;
        width: 100%;
        height: 100%;   
        font-size: large;
        display: flex;
        flex-direction: column;

    }


    .imagenPresentacion{
        width: 160px;
    }

    #arrow{
        display: none;
    }


    #seccionTres{
        width: 100vw;
    }

    .infoProyecto{
        margin-left: 0;
    }

    .proyecto{
        margin: 0;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenProyectos{
        width: 250px;
        height: 150px;
    }

    #seccionCuatro{
        width: 100%;
        height: 100%;
    }

    #arrowVolver{
        display: none;
    }

    .linksContacto{
        border: none;
    }

    .linkContacto{
        padding: 20px;
        margin: 0;
    }

    .tituloProyectos{
        padding-top: 50px;
    }

    .titulos{
        font-size: xx-large;
    }

    .tituloHabilidades{
        padding-top: 30px;
        display: block;
        font-size: larger;
        font-family: 'Oswald', sans-serif;
    }

    .trabajo{
        display: none;
    }


}
